@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.btn-primary {
    @apply bg-blue-500 rounded text-white transition duration-300 cursor-pointer px-8 py-2 mt-2;
}

.btn-primary:hover {
    @apply bg-blue-700 text-blue-700;
}

.text-tosca {
    color: #1D94A8;
}

.text-silk {
    color: #F1EDE4;
}

.text-rose {
    color: #A43F3C;
}

.text-sky {
    color: #A6DEE8;
}

.text-copper {
    color: #A87B14;
}

.bg-tosca {
    background-color: #1D94A8;
}

.bg-silk {
    background-color: #F1EDE4;
}

.bg-rose {
    background-color: #A43F3C;
}

.bg-sky {
    background-color: #A6DEE8;
}

.bg-copper {
    background-color: #A87B14;
}