@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.btn-primary {
  @apply bg-blue-500 rounded text-white transition duration-300 cursor-pointer px-8 py-2 mt-2;
}

.btn-primary:hover {
  @apply bg-blue-700 text-blue-700;
}

.btn-red {
  @apply bg-red-500 rounded text-white transition duration-300 cursor-pointer px-8 py-2 mt-2;
}

.btn-red:hover {
  @apply bg-red-700 text-white;
}

.btn-outline-red {
  @apply bg-transparent rounded text-tosca transition duration-300 cursor-pointer px-8 py-2 mt-2;
  border: 1px solid #1d94a8;
}

.btn-outline-red:hover {
  @apply bg-red-700 text-white;
  border: 1px solid #a43f3c;
  transform: translateY(-5px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn-outline-red:active {
  border: 1px solid #a43f3c;
  outline: none;
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn-outline-red:focus {
  outline: none;
}

.btn-outline-tosca {
  @apply border rounded px-8 py-2 transition duration-300 cursor-pointer;
  border-color: #1d94a8;
  color: #1d94a8;
}

.btn-outline-tosca:hover {
  @apply border text-white;
  border-color: #1d94a8;
  background-color: #1d94a8;
  transform: translateY(-5px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn-outline-tosca:active {
  border-color: #1d94a8;
  outline: none;
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn-outline-tosca:focus {
  outline: none;
}

.campaign-text-setting {
  @apply mb-1 p-1;
}

.campaign-text-setting:hover {
  @apply text-red-600 bg-gray-50 rounded-sm transition duration-300 cursor-pointer;
}

.text-tosca {
  color: #1d94a8;
}

.text-silk {
  color: #f1ede4;
}

.text-rose {
  color: #a43f3c;
}

.text-sky {
  color: #a6dee8;
}

.text-copper {
  color: #a87b14;
}

.text-grey {
  color: #9F9F9F;
}

.bg-tosca {
  background-color: #1d94a8;
}

.bg-silk {
  background-color: #f1ede4;
}

.bg-rose {
  background-color: #a43f3c;
}

.bg-sky {
  background-color: #a6dee8;
}

.bg-copper {
  background-color: #a87b14;
}

.border-tosca {
  border-color: #1d94a8;
}

.bg-modal {
  background-image: url(../assets/modalbg.png);
}

.bg-jumbotron {
  background-image: url(../assets/bg-jumbo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.border-rose {
  border-color: #A43F3C;
}

h1,
h2,
h3 button,
a {
  font-family: 'Nunito', sans-serif;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot:focus {
  height: 0px;
  width: 0px;
  background-color: #A87B14;
  border: none;
  padding: 7.5px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 16px;
  outline: none;
}